@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Examio</h1>
    <br />
    <h5>Your one-stop exam management solution.</h5>
    <br />
    <p>
        Select "Exam Sites" in the navigation bar to get started!
    </p>
</div>
