@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examio</h1>
    <br />
    <h3>Welcome to Examio!</h3>
    <p>Your super easy one-stop exam management solution.</p>
</div>
