@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Examio!</h1>
    <br />
    <h4>Your one-stop exam management solution.</h4>
</div>
