@model Examio.ViewModels.ExamSessionFormVM

@{
    ViewData["Title"] = "Create";
}

<h1>Exam Sessions</h1>

<h4>Create New</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExamSessionDto.Name" class="control-label"></label>
                <input asp-for="ExamSessionDto.Name" class="form-control" />
                <span asp-validation-for="ExamSessionDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamSessionDto.Description" class="control-label"></label>
                <input asp-for="ExamSessionDto.Description" class="form-control" />
                <span asp-validation-for="ExamSessionDto.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamSessionDto.StartDate" class="control-label"></label>
                <input asp-for="ExamSessionDto.StartDate" class="form-control" />
                <span asp-validation-for="ExamSessionDto.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamSessionDto.EndDate" class="control-label"></label>
                <input asp-for="ExamSessionDto.EndDate" class="form-control" />
                <span asp-validation-for="ExamSessionDto.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExamSessionDto.ExamSiteId)
                @Html.DropDownListFor(m => m.ExamSessionDto.ExamSiteId, new SelectList(Model.ExamSites, "Id", "Name"), "Select Exam Site", new { @class = "form-control" })
                <span asp-validation-for="ExamSessionDto.ExamSiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
